@charset "UTF-8";
/* =========================
** Layout
** ========================= */

/* hr border color = #cccdcd */
/* nav border color = #bdbdbd */
/* nav text color = #5e5f61 */
/* sign up btn = #0084d9 */
/* sign up lt grey = #dbdbdb */
/* sign up drk grey = #cac9c9 */
/* sign up font = #282b2e */
/* heading banner = #0084d9 */
/* heading wrapped corner = #005c98 */
/* text color = #282b2e */
/* sign up text color = #282b2e */
/* footer bg color = #2c2c2c */
/* footer nav font = #fff */
/* footer copy font = #969696 */

/* floats
-------------------------------- */

.left {
  float: left;
}

.right {
  float: right;
}

.cf {
  *zoom: 1;
}

.cf:before,
.cf:after {
  display: table;
  content: " ";
  clear: both;
}

.clear-both {
	clear: both;
}
.clear-right {
	clear: right;
}
.clear-left {
	clear: left;
}
.clear-none {
	clear: none;
}


/* button
-------------------------------- */

.btn {
	background-color: #0084d9;
	border: 0px none;
	padding: 0 10px;
	margin: 0 0 10px;
	height: 25px;
	line-height: 25px;
	
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}


/* wrap
-------------------------------- */

.layout-wrap {
	width: 1000px; /* 62.5em */
	margin: 0 auto;
	padding: 0 10px;
}

.full-bleed {
	padding: 0 !important;
}


/* row sizing
-------------------------------- */

.row {
	margin: 0;
	padding: 0;
}

.row .row {
	margin: 0 -10px;
}


/* column sizing
-------------------------------- */

[class*="col-"] {
	float: left;
	padding: 0 10px;
}

.col-one {
	width: 98px;
}

.col-two {
	width: 196px;
}

.col-three {
	width: 294px;
}

.col-four {
	width: 392px;
}

.col-five {
	width: 490px;
}

.col-six {
	width: 588px;
}

.col-seven {
	width: 686px;
}

.col-egiht {
	width: 784px;
}

.col-nine {
	width: 882px;
}

.col-ten {
	width: 980px;
}


/* spacing
-------------------------------- */

.pad-top {
	padding-top: 20px;
}

.pad-bottom {
	padding-bottom: 20px;
}

.margin-top {
	margin-top: 20px;
}


/* site header
-------------------------------- */

.site-header {
	height: 130px;
}

.qnav-list {
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.qnav-list,
.qnav-list a {
	color: #fff;
}


/* site footer
-------------------------------- */

.site-footer {
	background-color: #2c2c2c;
	height: 66px;
}

.footer-info {
	padding: 18px 0 0 10px;
}

.footer-nav,
.footer-nav a,
.footer-copy,
.footer-copy a {
	font-size: 12px;
}

.footer-nav,
.footer-nav a {
	color: #fff;
}

.footer-copy,
.footer-copy a {
	color: #969696;
}


/* =========================
** Modules
** ========================= */

/* logo
-------------------------------- */

.logo {
	background-image: url("../images/logo.png");
	display: block;
	width: 270px;
	height: 85px;
	margin:  17px 0 0;
	font: 0/0 a;
}


/* search field
-------------------------------- */

.search-cont {
	width: 258px;
	height: 24px;
	position: relative;
	margin: 32px 0 17px;
}

.search-input {
	/*border: 1px solid rgba(0, 0, 0, 0.06);
	box-shadow: inset 0 0 5px #000;
	-webkit-appearance: none;*/
	display: block;
	width: 100%;
	height: 100%;
	text-indent: 8px;
}

.search-icon {
	background: url('../images/icon-search.png') no-repeat center center scroll transparent;
	width: 20px;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	font: 0/0 a;
}


/* link list with bars
-------------------------------- */

.link-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link-list li {
	display: inline;
}

.link-list li+li:before {
	content: "|";
}

.link-list li {
	padding-left: 11px;
}

.link-list li a {
	padding-left: 12px;
}

.link-list li:first-child,
.link-list li:first-child a {
	padding-left: 0;
}


/* site navigation
-------------------------------- */

.site-nav {
}

.site-nav-list {
	display: table;
	width: 100%;
}

.site-nav-li {
	display: table-cell;
}

.site-nav-link {
	background-image: url("../images/nav-bg.png");
	background-color: #fff;

	border: 1px solid #bdbdbd;
	border-width: 1px 0;
	
	padding: 13px 0px;
	display: block;
	height: 40px;
	position: relative;
	
	line-height: 1em;
	font-size: 12px;
	font-weight: bold;
	color: #282b2e;
	color: rgba(40,43,46,0.8);
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
	letter-spacing: 0.10em;
}

.site-nav-link:hover {
	background-position: 0 100%;
	text-decoration: none;
	color: #5e5f61;
}

.is-active .site-nav-link {
	background-image: none;
	border-width: 1px 1px 0;
	padding: 17px 0px 13px 0px;
	height: 44px;
}


/* ad mod
-------------------------------- */

.ad-mod {
	display: block;
	width: 274px;
	height: 200px;
}


/* slideshow
-------------------------------- */

.slide-item {
	position: relative;
	z-index: 200;
}

.slide-text {
	background: url("../images/slide-grey-80.png") transparent repeat 0 0;
	width: 100%;
	height: 68px;
	padding: 16px 13px 0;
	position: absolute;
	z-index: 220;
	bottom: 0px;
	left: 0px;
	color: #282b2e;
}

.slide-heading {
	margin: 0;
	padding: 0;
	
	font-size: 24px;
	font-weight: bold;
	line-height: 1em;
	text-transform: uppercase;
}

.slide-subheading {
	font-size: 14px;
	line-height: 18px;
}

/* carousel thumbnails */

.slide-thumb-cont {
	margin-top: 10px;
}

.slide-thumb-item {
	width: 159px;
	height: 79px;
	margin-left: 10px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.slide-thumb-item.is-active {
	border: 3px solid #0084d9;
}

.slide-thumb-item:first-child {
	margin-left: 0;
}

/* carousel hover */

.slide-thumb-item:hover,
.slide-thumb-item.is-active {
	border: 3px solid #0084d9;
}

.slide-thumb-item:hover img,
.slide-thumb-item.is-active img {
	left: -3px;
	top: -3px;
}

.slide-thumb-item.is-active:after {
	content: "";
	position: absolute;
	top: -15px; /* value = - border-top-width - border-bottom-width */
	left: 50px; /* controls horizontal position */
	border-width: 15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style: solid;
	border-color: #0084d9 transparent;
	/* reduce the damage in FF3.0 */
	display: block;
	width: 0;
}

.slide-thumb-item img {
	height: 79px;
	position: absolute;
}


/* site content
-------------------------------- */

.site-content {
	background-color: #fff;
}


/* heading banners
-------------------------------- */

.heading-banner {
	background: #0084d9 none no-repeat 10px center;
	display: block;
	padding: 0 33px;
	margin: 0 0 20px;
	height: 33px;
	line-height: 33px;
	
	position: relative;
	
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

/* heading icons */
.catg-sect .heading-banner {
	background-image: url('../images/icon-folder.png');
}
.article-sect .heading-banner {
	background-image: url('../images/icon-article.png');
}
.video-sect .heading-banner {
	background-image: url('../images/icon-video.png');
}

.heading-banner.is-extended {
	margin-left: -33px;
}

.heading-banner.is-extended:after {
	background: transparent url("../images/banner-wraparound.png") no-repeat 0 0;
	display: block;
	content: "";
	width: 13px;
	height: 6px;
	
	position: absolute;
	left: 0;
	bottom: -6px;
}

.col-two .heading-banner.is-extended {
	width: 209px;
}


/* category module
-------------------------------- */

.catg-list,
.catg-list-title {
	font-size: 14px;
	line-height: 14px;
}

.catg-list-title {
	margin: 22px 0 10px;
}

.catg-list-title:first-child {
	margin-top: 0;
}

.catg-list-title:after {
	content: "";
	background: url('../images/icon-catg.png') no-repeat right center transparent;
	display: inline-block;
	padding-left: 6px;
	width: 16px;
	height: 9px;
}

.catg-li {
	line-height: 18px;
}


/* article module
-------------------------------- */

.article-short {
	height: 105px;
}

.article-short-text {
	width: 315px;
	margin-left: 15px;
	font-size: 14px;
	line-height: 17px;
}

.article-short-heading {
	margin: 0 0 10px;
	line-height: 1em;
	font-size: 14px;
}

.article-short-desc {
	margin: 0;
}


/* grey-box
-------------------------------- */

.grey-box {
	background-color: #dbdbdb;
	padding: 10px;
}

.box-title {
	background-repeat: no-repeat;
	border-bottom: 1px solid #969696;
	padding: 0 0 10px 22px;
	margin: 0 0 11px;
	height: 22px;
	font-size: 12px;
	text-transform: uppercase;
}

.box-links {
	background-color: #cac9c9;
	border-top: 1px solid #969696;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	text-align: center;
}

ul.box-links {
	margin: 0 -10px;
}

/* grey-box/newsletter sign up
-------------------------------- */

.signup-cont.grey-box {
	padding-bottom: 0;
}

.signup-cont .box-title {
	background-image: url("../images/icon-envelope.png");
}

.newsletter-email {
	border: 1px solid #cecece;
	display: block;
	margin-bottom: 11px;
	width: 100%;
	height: 26px;
	text-indent: 7px;
}

.box-opt-cont {
	background-color: #cac9c9;
	padding: 10px;
	margin: 0 0 9px;
	height: 78px;
	font-size: 12px;
}

.box-opt-title {
	display: block;
	padding-bottom: 11px;
	line-height: 10px;
}

.box-opt-item {
	margin: 6px 0 0;
	display: block;
	height: 16px;
}

.box-opt-item:first-child {
	margin-top: 0;
}

.box-opt-input {
	margin-right: 11px;
}

.box-opt-label {
	font-weight: bold;
}

.box-opt-input,
.box-opt-label {
	display: inline-block;
}

/* grey-box/contest
-------------------------------- */

.contest-cont .box-title {
	background-image: url("../images/icon-trophy.png");
	margin-bottom: 10px;
}

.contest-item {
	margin-top: 9px;
}

.contest-item:first-child {
	margin-top: 0;
}

.contest-img,
.contest-text {
	float: left;
}

.contest-text {
	margin: 0 0 0 15px;
	width: 162px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
}


/* videos 
-------------------------------- */

.video-item {
	display: block;
	float: left;
	width: 208px;
	height: 156px;
	margin-left: 21px;
	position: relative;
}

.video-item:first-child {
	margin: 0;
}

.video-icon,
.video-text {
	position: absolute;
}

.video-icon {
	background-image: url('../images/play-btn.png');
	width: 46px;
	height: 46px;
	margin: 0 0 0 -23px;

	font: 0/0 a;

	left: 50%;
	top: 48px;
}

.video-text {
	background-image: url('../images/slide-grey-80.png');
	width: 100%;
	height: 31px;

	text-indent: 14px;
	line-height: 31px;
	font-size: 13px;

	left: 0;
	bottom: 0;
}


/* social media
-------------------------------- */

.scl-media {
	padding: 20px 10px 0 0;
}

.scl-media-icon {
	background-image: url("../images/social-icons.png");
	display: block;
	float: left;
	margin-left: 10px;
	width: 26px;
	height: 26px;
	font: 0/0 a;
}

.scl-media-icon.facebook {
	background-position: 0 0;
}
.scl-media-icon.flicker {
	background-position: -26px 0;
}
.scl-media-icon.twitter {
	background-position: -52px 0;
}
.scl-media-icon.vimeo {
	background-position: -78px 0;
}
.scl-media-icon.rssfeed {
	background-position: -104px 0;
}


/* =========================
** State Styles
** ========================= */

/* extended 
-------------------------------- */


